main{
    width: 80%;
    background-color: cornflowerblue;


}
.header{
    background-image: url("../images/banner.png");
    background-size: 100%;
    background-position: center center;
}
.menu{
    margin: 20px;
}
.menu li{
    display: inline;
    margin-left: 15%;
    ;
    
}
.menu a{
    display: inline-block;/*pone los elemenots en linea y permite cambiar el tamaño*/
    color: black;
    text-decoration: none;
    background-color: antiquewhite;
    border-radius: 5px;
    width: 50px;
    height: 30px;
    text-align: center;
}
img{
    width: 100px;
    height: 100px;
}